# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
# Distribution / packaging
build/
*.egg-info/

examples/*/.hydra
examples/voicelm/voicelm2/.hydra
examples/speaker_diarization/exp
examples/speaker_diarization/data
examples/speaker_diarization/logs
examples/speaker_diarization/tmp
examples/speaker_diarization/runid.txt
examples/speaker_diarization/README.md

# Cython-generated C++ source files
fairseq/data/data_utils_fast.cpp
fairseq/data/token_block_utils_fast.cpp
