# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
# Distribution / packaging
build/
*.egg-info/

examples/*/.hydra
examples/voicelm/voicelm2/.hydra


# Cython-generated C++ source files
fairseq/data/data_utils_fast.cpp
fairseq/data/token_block_utils_fast.cpp
